%section.main-content
  %h2 Code of Conduct
  %h3 Need help?
  %p Contact the organizers at info@andconf.io or call (302) 307-2663.
  %h3 Summary
  %p &:conf is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of conference participants in any form. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers.
  %h3 Extended Terms
  %p Harassment includes verbal comments that reinforce social structures of domination (related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion); sexual images in public spaces; deliberate intimidation; stalking; following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact; and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.
  %p Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material.
  %p If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by special badges.
  %p Conference staff will be happy to help participants contact local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
  %p
    %b We expect participants to follow these rules at all times throughout the conference.
  %h3 Conference Organizers:
  %p
    Lillie Chilen
    %br/
    Emily Nakashima
    %br/
    Stella Cotton
    %br/
    info@andconf.io
  %h3 Other Health and Safety Related Contacts:
  %p
    Sonoma County Sheriff's Office: (707) 565-2650
    %br/
    YWCA Sonoma County 24 Hour Crisis Hotline: (707) 546-1234
    %br/
    St. Joseph Urgent Care, Santa Rosa: (707) 543-2000
    %br/
    All City Taxi, Santa Rosa: (707) 333-3333
