%section.main-content
  %h2
    Attendee Details and FAQ
  %h3 What should I bring?
  %p
    St. Dorothy's Rest provides linens, towels, and meals, so you just need to bring the essentials:
  %ul
    %li A laptop + charger for the code retreat
    %li Clothes (layers are good, California is often cold)
    %li Toiletries
  %p If you happen to have an extra keyboard and mouse, please bring them. They will come in very handy at the code retreat.
  %h3 When should I be there?
  %p
    The conference will take place 6pm Friday, August 14th through 7pm on Sunday,
    August 16th; the camp will be open on Sunday night for anyone who wants to stay through Monday morning.
  %h3 How do I get there?
  %p
    We recommend flying into SFO, since we’ll help arranged shared transportation from the San Francisco area.
    OAK and STS airports are slightly closer, but you may need to figure out your own transportation to and from the venue.
    St. Dorothy's Rest is about a 2.5 hour drive north from SFO in average traffic. We're currently looking into whether
    renting a shuttle bus or coordinating carpooling will make more sense, but rest assured, we'll help you figure out
    how to get out to &:conf.
  %h3 Is there internet or cell service?
  %p
    Come expecting to disconnect and recharge. There is limited wifi in the main
    house so you'll probably be able to check your email now and then, but don't
    expect to be video conferencing into that 8am status meeting. AT&T and Verizon
    have towers in the area, but the hills may prevent you from getting a strong mobile signal.

  %h2 Tentative Schedule
  %p
    %h4 Friday, August 14
    %ul
      %li 6:00pm - 6:45pm: Arrival and check in
      %li 7:00pm: Dinner
      %li 8:00pm: Welcome To &:conf!
    %h4 Saturday, August 15: Code Retreat Day
    %ul
      %li 8:00am - 9:00am: Breakfast
      %li 9:00am - 12:30pm: Coding
      %li 12:30pm - 1:30pm: Lunch
      %li 1:30pm - 4:00pm: Coding
      %li 4:00pm - 6:00pm: Free Time
      %li 6:00pm: Dinner
      %li 7:00pm: Unconference planning
    %h4 Sunday, August 16: Unconference Day
    %ul
      %li 8:00am - 9:00am: Breakfast
      %li 9:00am - 12:30pm: Sessions
      %li 12:30pm - 1:30pm: Lunch
      %li 1:30pm - 3:30pm: Sessions
      %li 3:30 - 4:00pm: Break
      %li 4:00 - 6:00pm: Session
      %li 6:00pm: Dinner  Closing
    %h4 Monday, August 17: Farewell
    %ul
      %li 8:00am: Breakfast
      %li 11:30pm: Departure
