- content_for :title_tag, "Donate to &:conf (AndConf)"

%script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" }

%section.main-content
  - if flash[:error].present?
    .error
      = flash[:error]

  - if flash[:message].present?
    .success
      = flash[:message]

  %h2 Support &:conf

  %p
    We'll be looking for 2016 sponsors soon. Stay tuned!
