%p Thank you so much for your donation of #{@amount} dollars to &:conf!

%p Your donation will help us make the conference more diverse and more awesome, and we are truly grateful for that.

%p If you have any questions about your donation or the conference, just reply to this email!

%p
  All the best,
%p
  The &:conf Team
  %br
  info@andconf.io
  %br
  http://andconf.io
